/*core sttyle*/
body {
  font-family: sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.clerfix {
  clear: both;
}
/*main header style*/
.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  display: inline block;
}
.main-header__brand img {
  width: 60px;
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
}

.main-navigation__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.main-navigation__item a:hover {
  color: #efb6df;
}

.main-navigation__item.active a {
  color: #efb6df;
}

/*main section */
.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.main-section__introduction {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #05364e;
}

.main-section__pasition {
  color: #05364e;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-section__action {
  margin-top: 30px;
}

/*statistics section*/
.statistics {
  display: inline-block;
  padding: 100px;
}

.satatistics__item {
  width: 150px;
  background-color: #f8faff;
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
}

.statistics__number {
  font-size: 27px;
  margin-bottom: 5px;
  color: #1c44e4;
}

.statistics__title {
  font-size: 16px;
  color: #797979;
  font-weight: 300;
}

.statistics {
  display: flex;
}

.instagram__icons {
  width: 40px;
  margin-bottom: 4px;
}

.youtube__icons {
  width: 50px;
}

/*about me section */
.clearfix {
  clear: both;
}
.about-me {
  padding: 100px 0;
}

.about-me > div {
  width: 50%;
  float: left;
}

.about-me__image img {
  width: 90%;
}

.section-subtitle {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #797979;
  text-transform: uppercase;
}

.section-title {
  margin-top: 5px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  color: #05364d;
}

.button {
  border: none;
  background-color: #1c44e4;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
}

.about-me__description {
  font-size: 14px;
  font-weight: 300;
  color: #797979;
  line-height: 27px;
}

.about-me__action {
  margin-top: 40px;
}

/*services section styles*/
.services {
  padding-top: 100px;
}

.service__card {
  display: inline-block;
  width: 30%;
  padding: 60px 30px;
  background-color: #f8faff;
  margin-right: 3%;
  text-align: center;
  box-sizing: border-box;
}

.service-card__title {
  color: #05364d;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.service-card__description {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;
}

.service-card__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.services-card:hover {
  background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
  color: #ffff;
}
